<section class="form-top">
  <div class= "page__back"><%= link_to "キャンセル", participation_path(@category_id), class:"back__style"%></div>
  <div class="title">新しいメンバーを追加する</div>
  <div class="space"></div>
</section>

<section class="form">
  <div class="form__title">
    <p>参加者ID</p>
  </div>

  <%= render 'layouts/error_form',  model: @participation %>

  <%= form_with model: @participation, local: true do |f| %>
    <p><%= f.hidden_field :owner_id , class: "form__submit", value: current_user.id %></p> 
    
    <div class="form__submit">
      <p>ログインユーザー：<%= current_user.name %></p>
      <p>id：<%= current_user.id %></p> 
    </div>
    <p><%= f.number_field :user_id , class: "form__submit" %></p> 
    <%= f.hidden_field :category_id , value: @category_id %>

    <section id="participation-btn">
      <%= f.submit "作成", class:"btn float-purple"%>
    </section>
 <% end %>
</section>


<!-- 検索フォーム -->
<%#= render partial: 'search_form'%>