<div class="card category-card">
  <div>
    <div class="text-left w-25 d-inline-block float-left ">
      <%= link_to "キャンセル", participations_path, class: 'text-dark'%>
    </div>
    <div class="w-50 d-inline-block float-left">
      <h5 class="text-center">新しいメンバーを追加する</h5>
    </div>
    <div class="ml-3 bg-dark w-25 d-inline-block float-left">
    </div>
  </div>
</div>

  <%= form_with model: @participation, local: true do |f| %>
    <div class="card category-form">
      <%= f.hidden_field :category_id , value: params[:category], size: 2, class: "category-submit"%>
      <p>参加者ID：<%= f.text_field :participation_id , size: 2, class: "category-submit"%></p> 
    </div>
  
    <div>
      <%= f.submit "作成" , class:"category-button btn-block"%>
    </div>
 <% end %>


   <%#= f.hidden_field :category_id, value: @category_id %> 
