<div class="card category-card">
  <div>
    <div class="text-left w-25 d-inline-block float-left ">
      <%= link_to "キャンセル", participation_path(@category_id), class: 'text-dark'%>
    </div>
    <div class="w-50 d-inline-block float-left">
      <h5 class="text-center">新しいメンバーを追加する</h5>
    </div>
    <div class="ml-3 bg-dark w-25 d-inline-block float-left">
    </div>
  </div>
</div>

<div>
  <%= form_with model: @participation, local: true do |f| %>
    <div class="card category-form">
      <%= f.hidden_field :category_id , value: @category_id, size: 2, class: "category-submit"%>
      <p>参加者ID：<%= f.text_field :user_id , size: 2, class: "category-submit"%></p> 
    </div>
  
    <div>
      <%= f.submit "作成" , class:"category-button btn-block"%>
    </div>
 <% end %>
<div>

<div class="border mt-5 p-3">
  <h5 class="mb-3">候補ユーザ検索</h5>
  <div class="my-3">
    <%= search_form_for @q , url: new_participation_path do |f| %>
      <%= f.label :name_cont, "ユーザー名" %>
      <%= f.search_field :name_cont %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>


  <div class="p-3 mt-5">
    <% @search_users.each.with_index(1) do |user,i| %>
      <div class="category-card mb-3 ">
        <span class="mr-5 ">No.<%= i %></span>
        <span><%= user.name %> ID:【<%= user.id %>】</span>
      </div>
    <% end %>
  </div>
</div>
