<div class="card category-card">
  <div>
    <div class="text-left w-25 d-inline-block float-left ">
      <%= link_to "キャンセル", participations_path, class: 'text-dark'%>
    </div>
    <div class="w-50 d-inline-block float-left">
      <h5 class="text-center">新しいメンバーを追加する</h5>
    </div>
    <div class="ml-3 bg-dark w-25 d-inline-block float-left">
    </div>
  </div>
</div>

<div class="card category-form">
  <%= form_with model: @participation, local: true do |f| %>
    <p>参加者ID：<%= f.text_field :participation_id , size: 2, class: "category-submit"%></p> 
    <p>参加するカテゴリー：<%= f.text_field :category_id , size: 2, class: "category-submit"%></p>
</div>
    <%= f.submit "作成" , class:"category-button btn-block"%>
  <% end %>
