<div class="card category-card">
  <div class="text-left ml-3">
    <span>
      <%= link_to "キャンセル", participations_path, class: 'text-dark'%>
   </span>
  </div>
  <div class="text-center">
    <span>新しいメンバーを追加する</span>
  </div>
</div>

<div class="card category-form">
  <%= form_with model: @participation, local: true do |f| %>
    <p>参加者ID：<%= f.text_field :participation_id , size: 2, class: "category-submit"%></p> 
    <p>参加するカテゴリー：<%= f.text_field :category_id , size: 2, class: "category-submit"%></p>
</div>
    <%= f.submit "作成" , class:"category-button btn-block"%>
  <% end %>
