<div class="card category-card">
  <div>
    <div class="text-left w-25 d-inline-block float-left ">
      <%= link_to "キャンセル", tasks_path, class: 'text-dark'%>
    </div>
    <div class="w-50 d-inline-block float-left">
      <h5 class="text-center">コメント</h5>
    </div>
    <div class="ml-3 bg-dark w-25 d-inline-block float-left">
    </div>
  </div>
</div>

<section id="comment-form">
  <div class="title">
    <p>コメント</p>
  </div>
  <%= form_with model: @comment, local: true do |f| %>
    <%= f.hidden_field :task_id %>
    <%= f.text_field :content ,size: 50 , class:"submit" %>
      <section id="comment-btn">
        <%= f.submit button_value, class:"btnn float-purple"%>
      </section> 
  <% end %>
</section>