 <div class="card category-card ">
    <div class="text-left ml-3">
      <%= link_to "キャンセル", tasks_path, class: 'text-dark'%>
    </div>
    <div class="text-center">コメント</div>
</div>

<%= form_with model: @comment, local: true do |f| %>
    <%= f.hidden_field :task_id, value: @task_id %>
    <div class="card category-card pt-3 pb-5">
     <p>コメント：</p>
     <%= f.text_field :content ,size: 50 , class:"card pb-5" %>
    </div>
    <div>
      <%= f.submit button_value , class:"category-button btn-block"%>
    <div>
<% end %>
