<div class="card category-card">
  <div>
    <div class="text-left w-25 d-inline-block float-left ">
      <%= link_to "キャンセル", tasks_path, class: 'text-dark'%>
    </div>
    <div class="w-50 d-inline-block float-left">
      <h5 class="text-center">コメント</h5>
    </div>
    <div class="ml-3 bg-dark w-25 d-inline-block float-left">
    </div>
  </div>
</div>

<%= form_with model: @comment, local: true do |f| %>
<% binding.pry%>
  <%= f.hidden_field :task_id %>
  <div class="card category-card pt-3 pb-5">
    <p>コメント：</p>
    <%= f.text_field :content ,size: 50 , class:"card pb-5" %>
  </div>
  <div>
    <%= f.submit button_value , class:"category-button btn-block"%>
  <div>
<% end %>