<div class="card category-card">
  <div class="text-left ml-3">
    <span>
      <%= link_to "キャンセル", tasks_path, class: 'text-dark'%>
   </span>
  </div>
  <div class="text-center">
    <span>新しいコメントを追加する</span>
  </div>
</div>

<div class="card category-form">
 
  <% binding.pry %>
  <%= form_with model: @comment, local: true do |f| %>
    <p>タスクID：<%= f.text_field :task_id, value: params[:task_id] ,size: 3, class: "category-submit"%></p>
    <p>コメント：<%= f.text_field :content ,size: 50, class: "category-submit"%></p>
    <%= f.submit "作成" , class:"category-button btn-block"%>
  <% end %>
</div>
