<section class="form-top">
  <div class= "back"><%= link_to "キャンセル", tasks_path%></div>
  <div class="title">タスク名</div>
  <div class="space"></div>
</section>


<section class="form">
  <div class="title">
  <p>タスク名</p>
  </div>
 
  <%= form_with model: @task, local: true do |f| %>
    <%= f.hidden_field :category_id, value: @category_id %>
    <p><%= f.text_field :name , size: 30, class:"submit"%></p>
 
     <section id="task-btn">
        <%= f.submit button_value, class:"btnn float-purple"%>
      </section>
  <% end %>
</section>
