<section class="form">
  <div class="form__title">
    <p>タスク名</p>
  </div>

  <%= render 'layouts/error_form',  model: @task %>

  <%= form_with model: @task, local: true do |f| %>
    <%= f.hidden_field :category_id, value: @category_id %>
    <p><%= f.text_field :name , size: 30, class:"form__submit"%></p>
    <div id="task-btn">
      <%= f.submit button_value, class:"btnn float-purple"%>
    </div>
  <% end %>
</section>
