
<section class="form-top">
  <div class= "page__back">
    <%= link_to "キャンセル", tasks_path, class:"back__style"%>
  </div>
  <div class="title">タスク名</div>
  <div class="space"></div>
</section>

<%= render 'layouts/error_form',  model: @task %>

<section class="form">
  <div class="form__title">
  <p>タスク名</p>
  </div>
 
  <%= form_with model: @task, local: true do |f| %>
    <%= f.hidden_field :category_id, value: @category_id %>
    <p><%= f.text_field :name , size: 30, class:"form__submit"%></p>
 
     <section id="task-btn">
        <%= f.submit button_value, class:"btnn float-purple"%>
      </section>
  <% end %>
</section>
