<div class="card category-card">
  <div>
    <div class="text-left w-25 d-inline-block float-left ">
      <%= link_to "キャンセル", tasks_path, class: 'text-dark'%>
    </div>
    <div class="w-50 d-inline-block float-left">
      <h5 class="text-center">タスク名</h5>
    </div>
    <div class="ml-3 bg-dark w-25 d-inline-block float-left">
    </div>
  </div>
</div>

<%= form_with model: @task, local: true do |f| %>
  <%= f.hidden_field :category_id, value: @category_id %>
  <div class="card category-card pt-3 pb-5">
    <p>タスク名</p>
    <%= f.text_field :name , size: 30, class:"card"%>
  </div>    
  <div>
    <%= f.submit button_value, class:"category-button btn-block"%>
  </div>
<% end %>