<h1>タスク</h1>


<div class="text-right">
   <%# 追加ボタン %>
    <%= link_to new_task_path(category_id: 1), class: "text-primary btn-sm btn-sm mr-1", :method => :get do %> 
      <span class="mr-2">タスクを追加（link_toで作成）</span><i class="fas fa-plus-circle"></i>
    <% end %>
</div> 



<div id="tabs">

<%#-------------------------------- %>
    <a>{{ href }}</a>
    <a v-bind:href="href">タスクを追加(vue.jsで作成）</a>

<%#-------------------------------- %>




  <%# カテゴリー %>
    <div class="tab_box">
      <ul class="tab_list">
       <% @categorys.each do |c| %>
          <li v-on:click="change('<%= c.id %>')" v-bind:class="{'active': isActive === '<%= c.id %>'}"><%= c.id %>.<%= c.name %></li>
        <% end %>
      </ul>
    </div>
    <%# タスクリスト %>
    <ul class="article">
    <% @categorys.each do |c| %>
     
     
     <%#= タスクのカード%>
     <div id="tasks-list">
          <% @tasks.each do |t| %>

            <ul class="card article">
              <div class="card-body">
                <div class="d-flex justify-content-between">

                  <div class="task-status">
                  
                  <p id="taks-<%= t.id%>">
                    <%# チェックボックス %>       
                    <% if t.checked_by?(current_user) %>
                      <%# チェックがあるから、destroyへ %>
                       <%= render "discheck", task_id: t %>
                    <% else %>      
                      <%# チェックがないから、createへ %>
                       <%= render "oncheck", task_id: t %>
                    <% end %>
                 </p>

                    <%# グリッド%>  
                    <i class="fas fa-grip-lines-vertical text-primary grip mr-2 "></i>

                    <%# タスク名 %>
                    <span class="h5 pr-5" v-if="isActive === '<%= c.id %>'"><%= t.name %></span>
                  </div>  

                  <%# ボタン %>
                  <div class="d-none d-sm-block ">
                    <div class="btn-group d-flex">
                      <div class="btn-toolbar">
                
                          <%# 編集ボタン %>
                          <%= link_to edit_task_path(t),class: "btn text-primary btn-sm btn-sm mr-1", :method => :get do %>
                            <i class="fas fa-pen"></i>
                          <% end %>

                          <%# コメント一覧へリンク %>
                          <%= link_to  comments_path, class: "btn text-primary btn-sm btn-sm mr-1", :method => :get do%>
                              <i class="far fa-comments"></i>
                          <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
          <% end %>
        </div>
        <% end %>
    </ul>

  </div> 

</div>

  
  <%# Vue.js %>
  <%= javascript_pack_tag 'tab_vue' %>  











