<h1>タスク</h1>

<div id="tabs">

  <%# タスクを追加リンク%>
  <div class="task-link">
    <span><a v-bind:href="href" >タスクを追加</span><i class="fas fa-plus-circle"></i></a>
  </div> 

  <%# カテゴリー + タスク start %>
  <div class="tab_box">

      <%# カテゴリーリスト start %>
      <ul class="tab_list">
        <% @categorys.each.with_index(1) do |c,i| %>
          <li v-on:click="change('<%= c.id %>')" v-bind:class="{'active': isActive === '<%= c.id %>'}"><%= i %>.<%= c.name %></li>
        <% end %>
      </ul>
      <%# カテゴリーリスト finish %>

    <%# タスクカードリスト start%>
    <ul class="article">
      <div id="tasks-list">
        <div data-controller = "drag" data-drag-url = "/tasks/id/move">

          <% @tasks.each do |t| %>
            <% @categorys.each do |c| %>
              <% if t.category_id == c.id%> 
                <%#= タスクカード start %>
                <div class="card" data-id="<%= t.id%>"  v-if="isActive === '<%= t.category_id %>'">
                  <div class="card-body">
                    <div class="d-flex justify-content-between"  >
                      <%# カードの中身 start%>   
                      <div class="task-status">
                        <%# チェックボックス %>  
                        <span id="taks-<%= t.id%>" class="checkbox">    
                          <% if  @checked_task_ids.include?(t.id) %>
                            <%# あり %>
                            <%= render "offcheck", task_id: t %>
                          <% else %>      
                            <%# なし%>
                            <%= render "oncheck", task_id: t %>
                          <% end %>
                        </span>
                        <%# グリッド%>  
                        <i class="grid fas fa-grip-lines-vertical"></i>
                        <%# タスク名 %>
                        <span class="task-name"><%= t.name %></span>
                      </div>  

                      <div class="d-none d-sm-block ">
                        <div class="btn-group d-flex">
                          <div class="btn-toolbar">
                            <%# 編集ボタン %>
                            <%= link_to edit_task_path(t),class: "task-edit-link", :method => :get do %>
                              <i class="fas fa-pen"></i>
                            <% end %>
                            <%# コメント一覧へリンク %>
                            <%= link_to  task_path(t), class: "task-comment-link", :method => :get do%>
                              <i class="far fa-comments"></i>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <%# カードの中身 finish%>   
                    </div>
                  </div>
                </div>
                <%#= タスクカード finish %>
              <% end %>
            <% end %>
          <% end %> 
        </div>
      </div>
    </ul>
    <%# タスクカードリスト finish%>

  </div>
  <%# カテゴリー + タスク finish %>

</div> 

<%# Vue.js %>
<%= javascript_pack_tag 'tab_vue' %>  
