<h1 class="main__title">タスク</h1>

<div id="tabs">
  <!------------------------------------------------------------------>
  <div id="swiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @categories.each.with_index(1) do |c,i| %>
          <li class="swiper-slide" v-on:click="change('<%= c.id %>')" v-bind:class="{'active': isActive === '<%= c.id %>'}"><%= i %>.<%= c.name %></li>
          <!-- todo: v-on:click -->
          <!-- todo: v-bind:class -->
        <% end %>
      </div>
    </div>

    <%# リンク%>
    <div class="page__link">
      <span><a v-bind:href="href" class="page__link__style">タスクを追加</span><i class="fas fa-plus-circle"></i></a>
    </div>

    <%# TODO: tab_boxの把握%>
    <div class="tab_box">
      <div id="tasks-list">
        <%= render partial: 'task_card' %>
      </div>
    </div>

  </div>
  
</div>

  <%# Vue.js %>
  <%#= javascript_pack_tag 'swiper'%>
  <%#= javascript_pack_tag 'main'%>
  <%#= javascript_pack_tag 'tab_vue'%>