<h1>画像編集</h1>

<section class="page__back">
  <%= link_to "キャンセル", user_path(@user), class: 'back__style'%>
</section>

<%= form_with model: @user, local: true do |f| %>
  <div class="image__form">
    <%= f.hidden_field :user, value: @user %>
    <div class="image__title">
      <p class="font-md">イメージ写真</p>
    </div>
    <div class="image__select__form">
      <%= f.file_field :image, accept: "image/png,image/jpeg,image/gif" %>
    </div>
  </div>
    
    <div class="user-btn">
      <%= f.submit "送信", class:"btnn float-purple"%>
    </div>
<% end %>

<% if @user.image? %>
  <div class="user-btn">
    <%= link_to user_path, method: :delete, data: { confirm: "デフォルトに戻しますか？" } do %> 
      <button class="btnn float-red">画像の初期化</button> 
    <% end %>
  </div>
<% end %>