<h1 class="main__title">MyPage</h1>

<div class="user__data">
 <%# ユーザー編集ボタン %>
 <div class="page__link">
    <%= link_to  edit_user_registration_path, class:"page__link__style", method: :get do %>
    <span>ユーザー編集</span><i class="fas fa-pen"></i>
    <% end %>
 </div>  

  <p class="user__image"><%= image_tag @user.image.url %></p>

  <section class="image-edit-btn">
    <%= link_to edit_user_path(@user), method: :get do %>
      <button class="btn float-black">画像の編集</button> 
    <% end %>
  </section>

  <p class="font-md">【ユーザー情報】</p>
  <p><span>ユーザー名 : </span><%= @user.name %></p>
  <p><span>メールアドレス : </span><%= @user.email %></p>
  <p><span>登録日 : </span><%= @user.created_at.to_s(:datetime_jp) %></p>
  <p><span>利用日数：</span> <%= @continued_day %>日 </p>
</div>  


<section class="logout-btn">
  <%= link_to destroy_user_session_path, method: :delete do %>
    <button class="btn float-red">ログアウト</button> 
  <% end %>
</section>