<h1>MyPage</h1>

 <%# ユーザー編集ボタン %>
 <div class="text-right">
    <%= link_to  edit_user_registration_path ,method: :get do %>
    <span>ユーザー編集画面</span><i class="fas fa-pen"></i>
    <% end %>
 </div>  

<p class="text-center m-5"><%= image_tag @user.image.url %></p>





<%# 今回はここから %>
<div class="text-center mb-3">
  <%= link_to '画像の編集', edit_user_path(@user) ,class: "btn btn-dark text-light" %>
</div>  





<div class="mb-3 border border-white">
  <p>ユーザー名 : <%= @user.name %></p>
  <p>メールアドレス : <%= @user.email %></p>
  <p>登録日 : <%= @user.created_at.to_s(:datetime_jp) %></p>
  <p>利用日数： <%= @continued_day %>日 </p>

</div>  

<div class="logout-button">
  <center>
    <%= link_to 'ログアウト', destroy_user_session_path,class: "text-light", method: :delete %>
  </center>
</div>