<section class="home-title">
  <h1>生み出すからこそ、進化できる</h1>
  <h2>ListShareなら、オリジナルのリスト作成・改善をサポートします</h2>
</section>

<section id="home-btn">
  <%= link_to  users_guest_sign_in_path, method: :post do %>
    <button class="btnn slide-bg">ゲストログイン</button> 
  <% end %>
  <%= link_to new_user_registration_path, method: :get do %>
    <button class="btnn slide-bg">無料で作成</button> 
  <% end %>

<%= link_to new_user_registration_path, method: :get do %>
    <button class="btnn shadow">無料で作成</button> 
  <% end %>


</section>

<section class="login-link">
  <%= link_to 'すでにアカウントをお持ちですか？ログイン', new_user_session_path,method: :get %>
</section>

<section>
  <div class="top-image w-50">    
   <%= image_tag "image-photo.png", width:'90%', height:'90%'%>    
  </div>

  <div class="home-text w-50">
    <h3>習慣のリスト化</h3>
    <p>自分だけのオリジナルリストを作成できます</p>
    <h3>リストを共有する</h3>
    <p>作成したリストを、ご家族・友人と共同で使用することができます</p>
    <h3>思うままに自由に編集</h3>
    <p>カテゴリーからオリジナルで作成することができます</p>
    <h3>簡単に素早く変更</h3>
    <p>ドラッグ＆ドロップで素早く並べ替えが可能です</p>
  </div>
</section> 