<section class="form-top">
  <div class= "page__back">
    <%= link_to "キャンセル", categories_path, class:"back__style"%>
  </div>
  <div class="title">
    <p><%= @category.name %></p>
  </div>
  <div class="space"></div>
</section>

<section class="form">
  <div class="form__title">
    <p>カテゴリー名</p>
  </div>
    
<%= render "layouts/error_form", model: @category %>

  <%= form_with model: @category, local: true do |f| %>    
    <%= f.hidden_field :category, value: @category %>
    <p><%= f.text_field :name ,size: 50, class: "form__submit"%></p>
    <div id="category-btn">
      <%= f.submit button_value, class:"btnn float-purple"%>
    </div>
  <% end %>
</section>