<h1>カテゴリー設定</h1>

<div class="text-right">
   <%# 共有ボタン %>
    <%= link_to new_category_path, class: "btn text-primary btn-sm btn-sm mr-1", :method => :get do %> 
      <span class="mr-2">カテゴリーを追加</span><i class="fas fa-plus-circle"></i>
    <% end %>
</div>
  

<div id="tasks-list">

<% @categorys.each do |c| %>

  <ul class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">

        <div class="task-status">
          <%# グリッド%>  
          <i class="fas fa-grip-lines-vertical text-primary grip mr-2 "></i>

          
          <%# コメント %>
            <span class="h5 pr-5"><%= c.name %></span>
        </div>  

        <%# ボタン %>
        <div class="d-none d-sm-block ">
          <div class="btn-group d-flex">
            <div class="btn-toolbar">
                
                <%# 共有ボタン %>
                <%= link_to root_path,class: "btn text-dark btn-sm btn-sm mr-1", :method => :get do %>
                <i class="fas fa-link"></i>
                <% end %>

                <%# 編集ボタン %>
                <%= link_to root_path,class: "btn text-primary btn-sm btn-sm mr-1", :method => :get do %>
                  <i class="fas fa-pen"></i>
                <% end %>
                


        

                <%# 詳細ボタン(一時的に作成) %>
                <%= link_to category_path(c),class: "btn btn-danger text-white btn-sm btn-sm mr-1", :method => :delete do %>
                  <i class="fas fa-pen"></i>
                <% end %>
               
            </div>
          </div>
        </div>
      </div>
    </div>
  </ul>

<% end %>
</div>