<header class="header-color" >
  <nav class="navbar navbar-expand-lg ">
    <%= link_to "List Share", tasks_path, class: 'navbar-brand text-light'%>
    
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
      <i class="fas fa-grip-lines text-light"></i>
    </button>
    
    <div class="collapse navbar-collapse nav-item" id="navbarNav">
       <ul class="navbar-nav ml-auto">

      <% if user_signed_in? %>
        <%# ログイン時 %>
        <li class="nav-item">
          <%= link_to "タスク", tasks_path, class: 'nav-link nav-color' %>
        </li>
        <li class="nav-item">
          <%= link_to "カテゴリー", categorys_path, class: 'nav-link nav-color' %>
        </li>
        <li class="nav-item">
          <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link nav-color' %>
        </li>
        <li class="nav-item">  
          <%= link_to 'ログアウト', destroy_user_session_path,class: "nav-link nav-color", method: :delete %>    
        </li>
      <% else %>
        <%# 未ログイン時 %>
        <li class="nav-item">  
          <%= link_to "ListShareとは", tasks_path, class: 'nav-link nav-color' %>
        </li>
        <li class="nav-item">  
          <%= link_to "ログイン", new_user_session_path, class: 'nav-link nav-color' %>
        </li>
        <li class="nav-item">  
          <%= link_to "新規作成", new_user_registration_path, class: 'nav-link nav-color' %>
        </li>
      <% end %>
      </ul>
    </div>
  </nav>
</header>

