<!DOCTYPE html>
<html>
  <head>
    <title>ListShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <main>
      <%= render "layouts/flash" %>
      <div class="container-fluid py-4 mw-md">
        <%= yield %>
      </div>
    </main>
  
  <%# Vue.js %>
  <%= javascript_pack_tag 'onclick_vue' %> 
  <%= javascript_pack_tag 'tab_vue' %> 
  <%= javascript_pack_tag 'hello_vue' %>
  <%= stylesheet_pack_tag 'hello_vue'  %> 
</body>
</html>
