<!DOCTYPE html>
<html>
  <head>
    <title>ListShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render "layouts/flash" %>
    <div class="container-fluid py-4 mw-md">
      <%= yield %>
    </div>
    <div id="hello2">
      <p>{{ message }}</p>
    </div>
  
  <%# Vue.js %>
  <%= javascript_pack_tag 'custom_vue' %> 
  <%= javascript_pack_tag 'hello_vue' %>
  <%= stylesheet_pack_tag 'hello_vue'  %> 
</body>
</html>
